<!-- templates/mini_notion/chat.html -->
<input id="chat-message-input" type="text" size="100">
<button id="chat-message-submit">Send</button>
<ul id="chat-log"></ul>

<script>
    const roomName = "{{ room_name }}";
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatLog = document.getElementById('chat-log');
        const li = document.createElement('li');
        li.textContent = data.message;
        chatLog.appendChild(li);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.getElementById('chat-message-submit').onclick = function() {
        const input = document.getElementById('chat-message-input');
        chatSocket.send(JSON.stringify({
            'message': input.value
        }));
        input.value = '';
    };
</script>